body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: "Merriweather", serif;
  color: #313639;
}

h1 {
  font-family: "Sacramento", cursive;
  margin: 50px auto 0 auto;
  font-size: 5.625rem;
  color: white;
}

h2 {
  font-family: "Poppins", sans-serif;
  font-size: 2.5rem;
  color: white;
  font-weight: normal;
}

h3 {
  color: white;
  font-family: "Poppins", sans-serif;
}

a {
  color: white;
  font-family: "Poppins", sans-serif;
  margin: 0 1.5625rem 1.5625rem 1.5625rem;
  text-decoration: none;
}

a:hover {
  color: #313639;
}

p {
  line-height: 2;
}

hr {
  width: 4%;
  border-top: 0.5rem solid white;
  border-top-style: dotted;
  border-bottom: none;
  margin: 6.25rem auto;
}

.top-container {
  background-color: #a66cff;
  padding-top: 6.25rem;
  position: relative;
}

.top-cloud {
  position: absolute;
  right: 18.75rem;
  top: 3.125rem;
}

.bottom-cloud {
  position: absolute;
  left: 18.75rem;
  top: 25rem;
}

.middle-container {
  background-color: #9c9efe;
}

.killua {
  width: 12.5%;
  transition: transform 0.2s ease-in-out;
}

.killua:hover {
  transform: scale(1.3);
}

.bio {
  width: 30%;
  margin: 0 auto;
}

.skill-row {
  width: 50%;
  margin: 100px auto;
  text-align: left;
}

.graphic-design {
  width: 25%;
  border-radius: 1.25rem;
  float: left;
  margin-right: 1.875rem;
  transition: transform 0.2s ease-in-out;
}

.graphic-design:hover {
  transform: scale(1.3);
}

.article-writing {
  width: 25%;
  border-radius: 1.25rem;
  float: right;
  margin-left: 1.875rem;
  transition: transform 0.2s ease-in-out;
}

.article-writing:hover {
  transform: scale(1.3);
}

.need {
  margin-bottom: 3.75rem;
}

.btn {
  background: #a66cff;
  background-image: -webkit-linear-gradient(top, #a66cff, #9c9efe);
  background-image: -moz-linear-gradient(top, #a66cff, #9c9efe);
  background-image: -ms-linear-gradient(top, #a66cff, #9c9efe);
  background-image: -o-linear-gradient(top, #a66cff, #9c9efe);
  background-image: linear-gradient(to bottom, #a66cff, #9c9efe);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 0.5rem;
  text-shadow: 0.0625rem 0.0625rem 0.1875rem #666666;
  -webkit-box-shadow: 0.5625rem 0.4375rem 0.25rem #666666;
  -moz-box-shadow: 0.5625rem 0.4375rem 0.25rem #666666;
  box-shadow: 0.5625rem 0.4375rem 0.25rem #666666;
  font-family: "Poppins", sans-serif;
  color: #ffffff;
  font-size: 1.375rem;
  padding: 1.3125rem;
  text-decoration: none;
}

.btn:hover {
  text-decoration: none;
}

.bottom-container {
  background-color: #a66cff;
  padding: 1.875rem 0 0.625rem 0;
}

.copywright {
  font-size: 0.75rem;
  margin-top: 1.5625rem;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 640px) {
  .top-container {
    height: 90vh;
  }
  .mountain {
    margin-top: 25.1vh;
    width: 85%;
  }
  .top-cloud {
    width: 25%;
    margin-top: 20vh;
  }
  .bottom-cloud {
    width: 25%;
    margin-top: 30vh;
  }
  .header {
    margin-top: 24vh;
  }
  .header > h1 {
    font-size: 10rem;
  }
  .killua {
    width: 35%;
    margin-top: 3rem;
  }
  .graphic-design,
  .article-writing {
    width: 50%;
    float: none;
  }
  .graphic-design:hover, .article-writing:hover {
    transform: scale(1.3);
  }
  
.skill-row {
  width: 60%;
  margin: auto;
  text-align: center;
}
.middle-container {
  background-color: #9c9efe;
  height: 185vh;
}
p {
  font-size: 1.5rem;
}
.bio {
  width: 60%;
  margin: 0 auto;
}
}
